@import "../abstracts/variables";
@import "../abstracts/functions";
@import "../abstracts/keyframes";

.section {
  &__footer {
    .bottom {
      background-color: #fafafa;
    }
  }
  &__choose {
    .container {
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }
}

.wrapper {
  &__res-line {
    width: 100%;
    text-align: center;
    @media screen and(max-width: $br-xx) {
      overflow: auto;

      &::-webkit-scrollbar {
        height: 5px;
      }

      &::-webkit-scrollbar-track {
        
      }

      &::-webkit-scrollbar-thumb {
        height: 5px;
        background-color: white;
      }

      &::-webkit-scrollbar-thumb:hover {
        background-color: white;
      }

      &::-webkit-scrollbar:vertical {
        display: none;
      }

      .wrapper__navtab-wrap {
        width: 420px;
      }
    }
  }
  &__choose-wrap {
    padding: 4rem 1rem;
    border-radius: 24px;
  }
  &__accordion {
    position: relative;
    padding: 0 5rem;

    @media screen and(max-width: $br-xx) {
      padding: 0 2rem;
    }
    .head {
      padding: 2rem 0;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: color("gray-2");
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0;
        transition: 0.5s;
      }

      &.active {
        &::after {
          opacity: 1;
        }
        .icon {
          span {
            &:nth-child(1) {
              transform: translate(-50%, -50%) rotate(0);
              opacity: 0;
            }
          }
        }

        ~ .desc {
          padding-bottom: 2rem;
          max-height: 60vh;
          overflow: visible;
        }
      }

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 14px;
        span {
          display: inline-block;
          width: 14px;
          background-color: color("black");
          transition: 0.5s;

          &:nth-child(1) {
            height: 1px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) rotate(-90deg);
          }
          &:nth-child(2) {
            height: 2px;
          }
        }
      }
    }

    .desc {
      border-bottom: 1px dashed #0000001a;
      transition: 0.5s;
      padding-bottom: 0rem;
      max-height: 0;
      overflow: hidden;
    }
  }
  &__field-checkbox {
    display: flex;
    align-items: flex-start;
    @media screen and(max-width: $br-md) {
      align-items: center;
    }

    &.payment {
      align-items: center;
      .check {
        border-radius: 50%;
        border: 1px solid #e2e8f0;
      }

      input {
        &:checked {
          ~ .check {
            background-color: color("brown");
            border: 1px solid color("brown");
            &::after {
              color: color("white");
            }
          }
        }
      }
    }
    input {
      position: absolute;
      opacity: 0;
      visibility: hidden;

      &:checked {
        ~ .check {
          &::after {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: inline-block;
            width: 10px;
            height: 10px;
            content: "\2714\0020";
            color: color("darkblue");
            text-align: center;
            vertical-align: middle;
            line-height: 10px;
          }
        }
      }
    }
    label {
      margin-bottom: 0 !important;
    }

    .check {
      position: relative;
      width: 20px;
      height: 20px;
      border-radius: 5px;
      border: 2px solid color("darkblue");

      @media screen and(max-width: $br-md) {
        width: 20px;
        height: 20px;
      }
    }
  }

  &__cart-pay {
    padding: 3rem 3rem;
    border-radius: 24px;
  }
  &__field-checkbox {
    display: flex;
    align-items: flex-start;
    @media screen and(max-width: $br-md) {
      align-items: center;
    }

    &.payment {
      .check {
        border-radius: 50%;
        border: 1px solid #e2e8f0;
      }

      input {
        &:checked {
          ~ .check {
            background-color: #f8bd49;
            border: 1px solid #f8bd49;
            &::after {
              color: color("white");
            }
          }
        }
      }
    }

    input {
      position: absolute;
      opacity: 0;
      visibility: hidden;

      &:checked {
        ~ .check {
          &::after {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: inline-block;
            width: 10px;
            height: 10px;
            content: "\2714\0020";
            color: #f8bd49;
            text-align: center;
            vertical-align: middle;
            line-height: 10px;
          }
        }
      }
    }
    label {
      margin-bottom: 0 !important;
    }

    .check {
      position: relative;
      width: 20px;
      height: 20px;
      border-radius: 5px;
      border: 2px solid color("black");

      @media screen and(max-width: $br-md) {
        width: 20px;
        height: 20px;
      }
    }
  }
  &__list-cart-product {
    div {
      .remove {
        @media screen and(max-width: $br-sm) {
          position: absolute;
          right: 0;
          top: -5rem;
        }

        @media screen and(max-width: $br-xs) {
          top: -4.5rem;
        }
      }
      div {
        .preview {
          width: 200px;
          height: 168px;
          object-fit: cover;
          border-radius: 16px;

          @media screen and(max-width: 1024px) {
            height: 127px;
          }
          @media screen and(max-width: $br-md) {
            height: 80px;
          }
          @media screen and(max-width: $br-xs) {
            width: 100%;
            height: 120px;
          }
        }
      }
    }
  }
  &__share-list {
    display: flex;
    align-items: center;
    margin: 0 -5px;
    a {
      margin: 0 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: color("yellow");
    }
  }
  &__tag-list {
    margin: 0 -5px;
    div {
      margin: 0 5px;
    }
  }
  &__caption {
    padding-left: 1.5rem;

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 1px;
      background-color: color("black");
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__profile {
    .date {
      padding: 4px 15px;
      background: rgba(247, 246, 246, 0.26);
      border-radius: 50px;
    }
    div {
      .img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
  &__card-comment {
    padding: 2rem;
    background: #ffffff;
    box-shadow: 0px 29px 18px rgba(20, 18, 103, 0.03),
      0px 2px 20px rgba(23, 58, 110, 0.06);
    border-radius: 12px;

    .menu {
      .img {
        width: 111px;
        height: 111px;
        border-radius: 12px;
        object-fit: cover;
      }
    }
    div {
      .date {
        background-color: #f2f4f4;
        padding: 3px 12px;
        border-radius: 50px;
      }
      .profile {
        .img {
          width: 64px;
          height: 64px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }
  &__rating-star {
    display: flex;
    align-items: center;
    margin: 0 -3px;
    img {
      margin: 0 3px;
    }
  }
  &__btn-count {
    .btn__action {
      width: 60px;
      height: 60px;
      border-radius: 8px;
      box-shadow: 0px 2px 20px 0px #173a6e0f;
      box-shadow: 0px 29px 18px 0px #14126708;
      display: flex;
      justify-content: center;
      align-items: center;

      &.cart {
        width: 32px;
        height: 32px;
        box-shadow: 0px 2px 20px 0px #173a6e0f;
        box-shadow: 0px 29px 18px 0px #14126708;
      }
    }
  }
  &__cart-menu {
    border-radius: 18px;
    overflow: hidden;
    .img {
      width: 100%;
      height: 450px;
      object-fit: cover;

      @media screen and(max-width: $br-md) {
        height: 300px;
      }
    }
    .bg {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 150%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
      transition: 0.5s;
    }

    .desc {
      position: absolute;
      left: 2rem;
      bottom: -150%;
      z-index: 2;
      transition: 0.5s;
    }

    &:hover {
      .desc {
        left: 2rem;
        bottom: 2rem;
      }
      .bg {
        top: 0;
        left: 0;
      }
    }
  }
  &__pagination {
    .pagination {
      li {
        margin: 0 5px;
        .page-link {
          width: 40px;
          height: 40px;
          border: 1px solid #d9d9d9;
          border-radius: 8px;
          text-align: center;
          color: #d9d9d9;
          transition: 0.5s;

          &:hover {
            background-color: color("black");
            color: white;
          }
          &.active {
            background-color: color("black");
            color: white;
          }
        }
      }
    }
  }
  &__card-article {
    border: 1px solid #d9d9d9;
    border-radius: 12px;
    padding: 1rem;
    .img {
      width: 100%;
      height: 250px;
      object-fit: cover;
      border-radius: 12px;
    }
  }
  &__image-map {
    object-fit: cover;
    border-radius: 32px;
    width: 100%;
    height: 500px;
  }
  &__contact-list {
    .icon {
      width: 100px;
      height: 100px;
      border-radius: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: color("gray-2");
    }
  }
  &__book-form {
    border-radius: 24px;
    padding: 4rem 3rem;
  }
  &__input-field {
    input,
    select {
      height: 60px;
      background: #ffffff;
      box-shadow: 0px 10px 18px rgba(20, 18, 103, 0.03);
      border-radius: 12px;
      border: none;
      outline-style: none;
      box-shadow: 0px 10px 18px 0px #14126708;

      &:hover {
        border: none;
        outline-style: none;
        box-shadow: 0px 10px 18px 0px #14126708;
      }
      &:active {
        border: none;
        outline-style: none;
        box-shadow: 0px 10px 18px 0px #14126708;
      }
      &:focus {
        border: none;
        outline-style: none;
        box-shadow: 0px 10px 18px 0px #14126708;
      }
    }

    textarea {
      background: #ffffff;
      box-shadow: 0px 10px 18px rgba(20, 18, 103, 0.03);
      border-radius: 12px;
      border: none;
      outline-style: none;
      box-shadow: 0px 10px 18px 0px #14126708;

      &:hover {
        border: none;
        outline-style: none;
        box-shadow: 0px 10px 18px 0px #14126708;
      }
      &:active {
        border: none;
        outline-style: none;
        box-shadow: 0px 10px 18px 0px #14126708;
      }
      &:focus {
        border: none;
        outline-style: none;
        box-shadow: 0px 10px 18px 0px #14126708;
      }
    }
  }
  &__images-favorite {
    .img {
      width: 100%;
      height: 350px;
      object-fit: cover;
      border-radius: 24px;
    }
  }
  &__navtab-wrap {
    justify-content: center;
    margin: 0 -10px;

    li {
      padding: 0 10px;
      .nav-link {
        color: color("black");
        border: 1px solid color("black");
        border-radius: 8px;
        transition: 0.5s;

        &:hover {
          color: color("black");
          border: 1px solid color("yellow");
          background-color: color("yellow");
        }

        &.active {
          color: color("black");
          border: 1px solid color("yellow");
          background-color: color("yellow");
        }
      }
    }
  }
  &__slider-footer-menu {
    margin: 0 -8px;
    .items {
      padding: 0 5px;

      a {
        display: inline-block;
        width: 100%;
        height: 95px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 16px;
        }
      }
    }
  }
  &__field-input {
    input {
      background: rgba(255, 255, 255, 0.21);
      border-radius: 8px;
      width: 300px;
      height: 50px;
      border: none;
      padding: 0 20px;
      outline: none;
    }
  }
  &___subscribe {
    padding: 6rem 2rem;
    border-radius: 24px;
    overflow: hidden;
  }
  &__slider-testi {
    .slick-dots {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 1rem 0;
      bottom: -4rem;
      left: initial;
      right: 0;
      list-style-type: none;

      li {
        margin: 0 0.25rem;
      }

      button {
        display: block;
        width: 1rem;
        height: 1rem;
        padding: 0;

        border: none;
        border-radius: 100%;
        background-color: #d9d9d9;

        text-indent: -9999px;
      }

      li.slick-active button {
        background-color: color("yellow");
      }
    }

    margin: 0 -25px;
    @media screen and(max-width: 1024px) {
      margin: 0 -10px;

      .items {
        padding: 0 10px !important;
      }
    }
    .items {
      padding: 0 25px;
    }
    div {
      .card__wrap {
        padding: 2rem 1rem;
        background-color: white;
        border-radius: 12px;
        box-shadow: 0px 29px 18px rgba(20, 18, 103, 0.03),
          0px 2px 20px rgba(23, 58, 110, 0.06);

        .profile {
          width: 64px;
          height: 64px;
          object-fit: cover;
          border-radius: 50%;
        }
      }
    }
  }
  &__list-menu {
    .img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 16px;

      @media screen and(max-width: $br-md) {
        width: 100px;
        height: 100px;
      }

      @media screen and(max-width: $br-xx) {
        width: 80px;
        height: 80px;
      }
    }
    div {
      div {
        .line {
          height: 1px;
          width: inherit;
          border-top: 1px dashed rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
  &__chef {
    .img {
      width: 100%;
      height: 374px;
      border-radius: 24px;
      object-fit: cover;
    }

    .list {
      list-style: none;
      padding: 0;
      margin: 0;
      margin: 0 -5px;

      li {
        display: inline-block;
        margin: 0 5px;
        a {
          display: inline-block;
          background-color: #222222b5;
          width: 24px;
          height: 24px;
          border-radius: 6px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
  &__reservation {
    background-color: #282726;
    border-radius: 32px;
    padding: 4rem 3rem;
    @media screen and(max-width: $br-xxs) {
      padding: 3rem 2rem;
    }
  }
  &__choose {
    .icon {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background-color: color("black");
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__line-grid {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    div {
      width: 100%;
      height: 100%;
      span {
        display: inline-block;
        border-right: 1px dashed rgba(0, 0, 0, 0.2);
        height: 100%;
      }
    }
  }
  &__video {
    .play {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      animation: pulse 2s ease-in-out infinite;
      width: 75px;
      height: 75px;
      object-fit: cover;
      border-radius: 50%;
    }

    .cover {
      width: 100%;
      height: 550px;
      object-fit: cover;
      border-radius: 32px;

      @media screen and(max-width: $br-sm) {
        height: 350px;
      }
    }
  }
}

.images {
  &__head-detail {
    width: 100%;
    height: 698px;
    object-fit: cover;
    border-radius: 12px;
    margin-top: -9.5rem;
    position: relative;
    z-index: 2;

    @media screen and(max-width: $br-md) {
      height: 350px;
    }
  }
  &__product-detail {
    width: 100%;
    height: 550px;
    object-fit: cover;
    border-radius: 24px;

    @media screen and(max-width: $br-md) {
      height: 400px;
    }
  }
}

.btn {
  &__tag {
    padding: 3px 20px;
    border-radius: 4px;
    border: 1px solid color("black");
  }
  &__original {
    padding: 13.5px 22px;
    border-radius: 8px;
  }
  &__head {
    padding: 12px 16px;
    border-radius: 8px;
  }
}

.path {
  &__1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__2 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.hr {
  &__line-gray {
    border-top: 1px dashed #d9d9d9;
  }
  &__line {
    border-top: 1px dashed #d9d9d9;
  }
}

.list {
  &__menu {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 15px;
    }
  }
  &__sosmed {
    list-style: none;
    padding: 0;
    margin: 0;
    margin: 0 -10px;

    li {
      display: inline-block;
      margin: 0 10px;
    }
  }
}

.line {
}

.pt {
  &__100 {
    padding-top: 100px;
    @media screen and(max-width: $br-md) {
      padding-top: 61px;
    }
  }
}

.p {
  &__4 {
    padding: 4rem;
  }
}

.mt {
  &__4 {
    margin-top: 4rem;
    &.sm-0 {
      @media screen and(max-width: $br-sm) {
        margin-top: 0rem;
      }
    }
  }
  &__100 {
    margin-top: 100px;
  }
  &__5 {
    margin-top: 5rem;

    &.md-0 {
      @media screen and(max-width: $br-md) {
        margin-top: 0rem;
      }
    }
    &-md {
      @media screen and(min-width: $br-md) {
        margin-top: 5rem;
      }
    }
  }
  &__18 {
    margin-top: 18rem;

    &.md-0 {
      @media screen and(max-width: $br-md) {
        margin-top: 0rem;
      }
    }
  }
}

.hr {
  &__line-contact {
    border-top: 1px dashed #d9d9d9;
  }
}

.mb {
  &__min {
    &-18 {
      margin-bottom: -18rem;
    }
  }
  &__4 {
    margin-bottom: 4rem;
  }
  &__5 {
    margin-bottom: 5rem;
  }

  &__md-2 {
    @media screen and(max-width: $br-md) {
      margin-bottom: 1.5rem;
    }
  }
}

// typography

.text {
  &__163 {
    &-1024 {
      @media screen and(max-width: 1024px) {
        font-size: 100px !important;
      }
    }

    &-md {
      @media screen and(max-width: $br-md) {
        font-size: 90px !important;
      }
    }

    &-sm {
      @media screen and(max-width: $br-sm) {
        font-size: 65px !important;
      }
    }

    &-xs {
      @media screen and(max-width: $br-xs) {
        font-size: 50px !important;
      }
    }
  }

  &__100 {
    &-1024 {
      @media screen and(max-width: 1024px) {
        font-size: 80px !important;
      }
    }

    &-md {
      @media screen and(max-width: $br-md) {
        font-size: 70px !important;
      }
    }

    &-sm {
      @media screen and(max-width: $br-sm) {
        font-size: 60px !important;
      }
    }

    &-mm {
      @media screen and(max-width: $br-mm) {
        font-size: 50px !important;
      }
    }

    &-xx {
      @media screen and(max-width: $br-xx) {
        font-size: 45px !important;
      }
    }

    &-xxs {
      @media screen and(max-width: $br-xxs) {
        font-size: 40px !important;
      }
    }
  }
  &__150 {
    &-1024 {
      @media screen and(max-width: 1024px) {
        font-size: 120px !important;
      }
    }

    &-md {
      @media screen and(max-width: $br-md) {
        font-size: 100px !important;
      }
    }

    &-sm {
      @media screen and(max-width: $br-sm) {
        font-size: 60px !important;
      }
    }

    &-mm {
      @media screen and(max-width: $br-mm) {
        font-size: 50px !important;
      }
    }

    &-xx {
      @media screen and(max-width: $br-xx) {
        font-size: 45px !important;
      }
    }

    &-xxs {
      @media screen and(max-width: $br-xxs) {
        font-size: 40px !important;
      }
    }
  }

  &__200 {
    &-md {
      @media screen and(max-width: $br-md) {
        font-size: 150px !important;
      }
    }

    &-sm {
      @media screen and(max-width: $br-sm) {
        font-size: 125px !important;
      }
    }

    &-sm {
      @media screen and(max-width: $br-mm) {
        font-size: 100px !important;
      }
    }

    &-xx {
      @media screen and(max-width: $br-xx) {
        font-size: 85px !important;
      }
    }

    &-xxs {
      @media screen and(max-width: $br-xxs) {
        font-size: 75px !important;
      }
    }
  }

  &__77 {
    &-sm {
      @media screen and(max-width: $br-sm) {
        font-size: 50px !important;
      }
    }
  }

  &__80 {
    &-1024 {
      @media screen and(max-width: 1024px) {
        font-size: 60px !important;
      }
    }

    &-md {
      @media screen and(max-width: $br-md) {
        font-size: 50px !important;
      }
    }

    &-sm {
      @media screen and(max-width: $br-sm) {
        font-size: 45px !important;
      }
    }

    &-xs {
      @media screen and(max-width: $br-xs) {
        font-size: 40px !important;
      }
    }
  }

  &__70 {
    &-1024 {
      @media screen and(max-width: 1024px) {
        font-size: 60px !important;
      }
    }

    &-md {
      @media screen and(max-width: $br-md) {
        font-size: 50px !important;
      }
    }

    &-sm {
      @media screen and(max-width: $br-sm) {
        font-size: 40px !important;
      }
    }

    &-xs {
      @media screen and(max-width: $br-xs) {
        font-size: 40px !important;
      }
    }

    &-xxs {
      @media screen and(max-width: $br-xxs) {
        font-size: 35px !important;
      }
    }
  }

  &__65 {
    &-1024 {
      @media screen and(max-width: 1024px) {
        font-size: 45px !important;
      }
    }

    &-sm {
      @media screen and(max-width: $br-sm) {
        font-size: 35px !important;
      }
    }
    &-xxs {
      @media screen and(max-width: $br-xxs) {
        font-size: 32px !important;
      }
    }
  }

  &__60 {
    &-1024 {
      @media screen and(max-width: 1024px) {
        font-size: 50px !important;
      }
    }

    &-sm {
      @media screen and(max-width: $br-sm) {
        font-size: 35px !important;
      }
    }

    &-xxs {
      @media screen and(max-width: $br-xxs) {
        font-size: 30px !important;
      }
    }
  }

  &__50 {
    &-1024 {
      @media screen and(max-width: 1024px) {
        font-size: 40px !important;
      }
    }

    &-sm {
      @media screen and(max-width: $br-sm) {
        font-size: 35px !important;
      }
    }
    &-xs {
      @media screen and(max-width: $br-xs) {
        font-size: 25px !important;
      }
    }
  }

  &__25 {
    &-sm {
      @media screen and(max-width: $br-sm) {
        font-size: 20px !important;
      }
    }
  }

  &__45 {
    &-1024 {
      @media screen and(max-width: 1024px) {
        font-size: 30px !important;
      }
    }

    &-md {
      @media screen and(max-width: $br-md) {
        font-size: 24px !important;
      }
    }

    &-mm {
      @media screen and(max-width: $br-mm) {
        font-size: 16px !important;
      }
    }
  }

  &__40 {
    &-1024 {
      @media screen and(max-width: 1024px) {
        font-size: 30px !important;
      }
    }

    &-md {
      @media screen and(max-width: $br-md) {
        font-size: 30px !important;
      }
    }

    &-mm {
      @media screen and(max-width: $br-mm) {
        font-size: 24px !important;
      }
    }
  }

  &__30 {
    &-1024 {
      @media screen and(max-width: 1024px) {
        font-size: 25px !important;
      }
    }

    &-md {
      @media screen and(max-width: $br-md) {
        font-size: 25px !important;
      }
    }

    &-sm {
      @media screen and(max-width: $br-sm) {
        font-size: 25px !important;
      }
    }

    &-xx {
      @media screen and(max-width: $br-xx) {
        font-size: 20px !important;
      }
    }
  }

  &__32 {
    &-1024 {
      @media screen and(max-width: 1024px) {
        font-size: 25px !important;
      }
    }

    &-xs {
      @media screen and(max-width: $br-xs) {
        font-size: 18px !important;
      }
    }
  }

  &__36 {
    &-1024 {
      @media screen and(max-width: 1024px) {
        font-size: 28px !important;
      }
    }
  }

  &__28 {
    &-1024 {
      @media screen and(max-width: 1024px) {
        font-size: 20px !important;
      }
    }

    &-sm {
      @media screen and(max-width: $br-sm) {
        font-size: 20px !important;
      }
    }
  }

  &__35 {
    &-1024 {
      @media screen and(max-width: 1024px) {
        font-size: 28px !important;
      }
    }

    &-md {
      @media screen and(max-width: $br-md) {
        font-size: 20px !important;
      }
    }

    &-xs {
      @media screen and(max-width: $br-xs) {
        font-size: 18px !important;
      }
    }
  }

  &__38 {
    &-1024 {
      @media screen and(max-width: 1024px) {
        font-size: 30px !important;
      }
    }
  }

  &__90 {
    &-1024 {
      @media screen and(max-width: 1024px) {
        font-size: 80px !important;
      }
    }

    &-md {
      @media screen and(max-width: $br-md) {
        font-size: 70px !important;
      }
    }

    &-sm {
      @media screen and(max-width: $br-sm) {
        font-size: 55px !important;
      }
    }

    &-xs {
      @media screen and(max-width: $br-xs) {
        font-size: 40px !important;
      }
    }

    &-xxs {
      @media screen and(max-width: $br-xs) {
        font-size: 38px !important;
      }
    }
  }

  &__33 {
    &-sm {
      @media screen and(max-width: $br-sm) {
        font-size: 25px !important;
      }
    }

    &-xx {
      @media screen and(max-width: $br-xx) {
        font-size: 18px !important;
      }
    }
  }

  &__18 {
    &-1024 {
      @media screen and(max-width: 1024px) {
        font-size: 16px !important;
      }
    }

    &-sm {
      @media screen and(max-width: $br-sm) {
        font-size: 16px !important;
      }
    }

    &-xs {
      @media screen and(max-width: $br-xs) {
        font-size: 14px !important;
      }
    }

    &-xxs {
      @media screen and(max-width: $br-xxs) {
        font-size: 12px !important;
      }
    }
  }

  &__16 {
    &-1024 {
      @media screen and(max-width: 1024px) {
        font-size: 14px !important;
      }

      &-12 {
        @media screen and(max-width: 1024px) {
          font-size: 12px !important;
        }
      }

      &-10 {
        @media screen and(max-width: 1024px) {
          font-size: 10px !important;
        }
      }
    }

    &-md {
      @media screen and(max-width: $br-md) {
        font-size: 12px !important;
      }
    }

    &-sm {
      @media screen and(max-width: $br-sm) {
        font-size: 12px !important;
      }
    }

    &-mm {
      @media screen and(max-width: $br-mm) {
        font-size: 10px !important;
      }

      &-12 {
        @media screen and(max-width: $br-mm) {
          font-size: 12px !important;
        }
      }
    }

    &-xx {
      @media screen and(max-width: $br-xx) {
        font-size: 10px !important;
      }
    }
  }

  &__20 {
    &-1024 {
      @media screen and(max-width: 1024px) {
        font-size: 16px !important;
      }
    }
    &-md {
      @media screen and(max-width: $br-md) {
        font-size: 14px !important;
      }
    }

    &-sm {
      @media screen and(max-width: $br-sm) {
        font-size: 12px !important;
      }
    }
  }

  &__120 {
    &-1024 {
      @media screen and(max-width: 1024px) {
        font-size: 90px !important;
      }
    }

    &-md {
      @media screen and(max-width: $br-md) {
        font-size: 69px !important;
      }
    }

    &-sm {
      @media screen and(max-width: $br-sm) {
        font-size: 75px !important;
      }
    }

    &-xxs {
      @media screen and(max-width: $br-xxs) {
        font-size: 55px !important;
      }
    }
  }

  &__26 {
    &-md {
      @media screen and(max-width: $br-md) {
        font-size: 20px !important;
      }
    }

    &-sm {
      @media screen and(max-width: $br-sm) {
        font-size: 14px !important;
      }
    }
  }

  &__22 {
    &-md {
      @media screen and(max-width: $br-md) {
        font-size: 16px !important;
      }
    }

    &-sm {
      @media screen and(max-width: $br-sm) {
        font-size: 14px !important;
      }
    }
  }

  &__12 {
    &-md {
      @media screen and(max-width: $br-md) {
        font-size: 10px !important;
      }
    }

    &-sm {
      @media screen and(max-width: $br-sm) {
        font-size: 10px !important;
      }

      &-8 {
        @media screen and(max-width: $br-sm) {
          font-size: 8px !important;
        }
      }
    }

    &-xs {
      @media screen and(max-width: $br-xs) {
        font-size: 8px !important;
      }

      &-10 {
        @media screen and(max-width: $br-xs) {
          font-size: 10px !important;
        }
      }
    }

    &-mm {
      @media screen and(max-width: $br-mm) {
        font-size: 8px !important;
      }

      &-10 {
        @media screen and(max-width: $br-mm) {
          font-size: 10px !important;
        }
      }
    }
  }

  &__14 {
    &-1024 {
      @media screen and(max-width: 1024px) {
        font-size: 12px !important;
      }

      &-10 {
        @media screen and(max-width: 1024px) {
          font-size: 10px !important;
        }
      }
    }

    &-md {
      @media screen and(max-width: $br-md) {
        font-size: 12px !important;
      }
    }

    &-sm {
      &-8 {
        @media screen and(max-width: $br-sm) {
          font-size: 8px !important;
        }
      }
    }

    &-mm {
      @media screen and(max-width: $br-mm) {
        font-size: 9px !important;
      }

      &-10 {
        @media screen and(max-width: $br-mm) {
          font-size: 10px !important;
        }
      }
    }

    &-xx {
      @media screen and(max-width: $br-xx) {
        font-size: 10px !important;
      }

      &-8 {
        @media screen and(max-width: $br-xx) {
          font-size: 8px !important;
        }
      }
    }
  }

  &__27 {
    &-1024 {
      @media screen and(max-width: 1024px) {
        font-size: 18px !important;
      }
    }
  }

  &__24 {
    &-1024 {
      @media screen and(max-width: 1024px) {
        font-size: 18px !important;
      }
    }

    &-sm {
      @media screen and(max-width: $br-sm) {
        font-size: 16px !important;
      }
    }
    &-xs {
      @media screen and(max-width: $br-xs) {
        font-size: 14px !important;
      }
    }
  }

  &__25 {
    &-1024 {
      @media screen and(max-width: 1024px) {
        font-size: 20px !important;
      }
    }
  }

  &__36 {
    &-1024 {
      @media screen and(max-width: 1024px) {
        font-size: 25px !important;
      }
    }

    &-sm {
      @media screen and(max-width: $br-sm) {
        font-size: 20px !important;
      }
    }
  }

  &__58 {
    &-sm {
      @media screen and(max-width: $br-sm) {
        font-size: 45px !important;
      }
    }
  }

  &__48 {
    &-1024 {
      @media screen and(max-width: 1024px) {
        font-size: 40px !important;
      }
    }

    &-md {
      @media screen and(max-width: $br-md) {
        font-size: 35px !important;
      }
    }

    &-sm {
      @media screen and(max-width: $br-sm) {
        font-size: 30px !important;
      }
    }

    &-xxs {
      @media screen and(max-width: $br-xxs) {
        font-size: 28px !important;
      }
    }
  }
}

.wrap {
  &__flex {
    &-1024 {
      &-100 {
        @media screen and(max-width: 1024px) {
          flex-flow: wrap;
        }
        > .grid {
          @media screen and(max-width: 1024px) {
            flex: 0 0 100% !important;
            max-width: 100% !important;
          }
        }
      }

      &-50 {
        @media screen and(max-width: 1024px) {
          flex-flow: wrap;
        }
        > .grid {
          @media screen and(max-width: 1024px) {
            flex: 0 0 45%;
            max-width: 45%;
          }
        }
      }

      &-90 {
        &-3 {
          @media screen and(max-width: 1024px) {
            flex-flow: wrap;
          }
          > .grid {
            @media screen and(max-width: 1024px) {
              flex: 0 0 calc(90% / 3);
              max-width: calc(90% / 3);
            }
          }
        }
      }

      &-auto {
        @media screen and(max-width: 1024px) {
          flex-flow: wrap;
        }
        > .grid {
          @media screen and(max-width: 1024px) {
            flex: 0 0 auto !important;
            max-width: inherit !important;
          }
        }
      }
    }

    &-md {
      &-100 {
        @media screen and(max-width: $br-md) {
          flex-flow: wrap;
        }
        > .grid {
          @media screen and(max-width: $br-md) {
            flex: 0 0 100%;
            max-width: 100%;
          }
        }
      }

      &-50 {
        @media screen and(max-width: $br-md) {
          flex-flow: wrap;
        }
        > .grid {
          @media screen and(max-width: $br-md) {
            flex: 0 0 45%;
            max-width: 45%;
          }
        }
      }

      &-auto {
        @media screen and(max-width: $br-md) {
          flex-flow: wrap;
        }
        > .grid {
          @media screen and(max-width: $br-md) {
            flex: 0 0 auto !important;
            max-width: inherit !important;
          }
        }
      }
    }

    &-sm {
      &-100 {
        @media screen and(max-width: $br-sm) {
          flex-flow: wrap;
        }
        > .grid {
          @media screen and(max-width: $br-sm) {
            flex: 0 0 100%;
            max-width: 100%;
          }
        }
      }

      &-50 {
        @media screen and(max-width: $br-sm) {
          flex-flow: wrap;
        }
        > .grid {
          @media screen and(max-width: $br-sm) {
            flex: 0 0 45%;
            max-width: 45%;
          }
        }
      }
    }

    &-xs {
      &-100 {
        @media screen and(max-width: $br-xs) {
          flex-flow: wrap;
        }
        > .grid {
          @media screen and(max-width: $br-xs) {
            flex: 0 0 100%;
            max-width: 100%;
          }
        }
      }

      &-50 {
        @media screen and(max-width: $br-sm) {
          flex-flow: wrap;
        }
        > .grid {
          @media screen and(max-width: $br-sm) {
            flex: 0 0 45%;
            max-width: 45%;
          }
        }
      }
    }

    &-mm {
      &-100 {
        @media screen and(max-width: $br-mm) {
          flex-flow: wrap;
        }
        > .grid {
          @media screen and(max-width: $br-mm) {
            flex: 0 0 100%;
            max-width: 100%;
          }
        }
      }

      &-50 {
        @media screen and(max-width: $br-sm) {
          flex-flow: wrap;
        }
        > .grid {
          @media screen and(max-width: $br-sm) {
            flex: 0 0 45%;
            max-width: 45%;
          }
        }
      }

      &-4 {
        @media screen and(max-width: $br-mm) {
          flex-flow: wrap;
        }
        > .grid {
          @media screen and(max-width: $br-mm) {
            flex: 0 0 calc(100% / 6);
            max-width: calc(100% / 6);
          }
        }
      }
    }
  }
}

// animated
@keyframes move1 {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(13.5rem, 14.5rem);
  }
  75% {
    transform: translate(27rem, 0rem);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes move12 {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(9.8rem, 13rem);
  }
  75% {
    transform: translate(19.7rem, 0rem);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes move2 {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(-27rem, 0rem);
  }
  75% {
    transform: translate(-13.4rem, 14.5rem);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes move22 {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(-19.5rem, 0rem);
  }
  75% {
    transform: translate(-10rem, 13rem);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes move3 {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(13.5rem, -14.5rem);
  }
  75% {
    transform: translate(-13.5rem, -14.5rem);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes move32 {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(10rem, -13rem);
  }
  75% {
    transform: translate(-10rem, -13rem);
  }
  100% {
    transform: translate(0);
  }
}
